.is-centered {
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    width:99%;
    height:5px;
    background:#FF8F00;
    margin:0px;
    padding:0px;
}

.wrapper input {
    padding: 10px;
}

.button-primary {
    padding:13px;
    color:white;
    border:0px;
    background:#2979ff;
}

.button-sort {
    display:none;
    height:46px;
    color:white;
    border:0px;
    background:#2979ff;
}

.bars {
    display: flex;
    color: white;
    justify-content: center;
    padding: 5px;
}

.bar {
    margin: 0px 4px;
    width: 50px;
    background: #2979ff;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#btn3 {
    float: right;
    margin: 20px 20px 0 0;
}
